* {
    margin: 0;
    padding: 0;

    body {
        background-color: forestgreen;

        samp {
            background-color: rgb( 238, 238, 238);
            border-radius: 2px;
        }

        .headerbox {
            background-color: white;

            header {
                background-color: white;
                nav {
                    display: flex;
                }
            }
        }

        .contentbox {
            max-width: 90%;

            background-color: white;

            border: 2px;
            border-radius: 5px;
            border-color: black solid;

            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            padding: 10px;

            .content {
                background-color: white;
                border-radius: 5px;
                display: inline;
                position: relative;
                left: 2%;

                section {
                    background-color: white;
                }
            }

            article {
                background-color: white;
                display: inline;
            }
        }

        .footerbox {
            margin: auto;

            footer {
                background-color: forestgreen;

                p {
                    text-align: center;
                }
            }
        }
    }
}


/*
[NOTE] {
    to compile (VS Code) {
        press Ctrl+Shift+P, then Paste this into the Command Palette {
            Live Sass: Compile Sass - Without Watch Mode
        }
    }
}
*/
