* {
    margin: 0;
    padding: 0;
}

body {
    background-color: forestgreen;
}

header {
    background-color: white;
    position: sticky;
    top: 0px;
}

.content {
    position: relative;
    left: 2%;
    width: 95vw;
    background-color: white;
    border-radius: 5px;
    display: inline;
    border: 2px solid black;
}

samp {
    background-color: rgb(238, 238, 238);
    border-radius: 2px;
}

article {
    background-color: white;
    border-radius: 2px;
    display: inline;
}

br {
    border: none;
}
