{% extends 'main/base.html' %}

{% block content %}
<div class="contentbox"> 
    <section>
        <h3>Developer: Samuel Worsley</h3>
        <p>
            Samuel Worsley started programming at 14, and enjoys making silly projects for fun.
            He created this project as a beginner-level project for Django, 
            but then started trying to do CSS too. 
            CSS styling is currently the leading cause of insanity among 16-year-old nerds.
        </p>
    </section>
</div>
{% endblock %}
