{% extends 'main/base.html' %}

{% block content %}
<div class="contentbox">
    <section>
        <h3>Test Page</h3>
        <p>
            This page is meant as a playgroung for template base testing. 
            So, if it looks a little wierd, that's the point.
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus magni officiis, 
            saepe temporibus consequatur sapiente? Amet, aspernatur illo. 
            Dignissimos, facilis mollitia cumque enim repellat aliquam error odio? 
        </p>
    </section>
</div>
{% endblock %}
