{% extends 'main/base.html' %}

{% block content %}
<div class="contentbox">
    <section>
        <h3>Your Schedule, Your Bells, <s>Our</s> Your System</h3>
        <br>
        <ul>
            <li>Free & Open Scource</li>
            <li>Extremely Lightweight</li>
            <li>Easy-to-use Web Interface</li>
        </ul>
        <br>
        <p>Take charge of the system. You create it, you manage it, and you control it.</p>
    </section>
</div>

<div class="contentbox">
    <section>
        <h3>Our Goals:</h3>
        <br>
        <ul>
            <li>Cheapest</li>
            <li>Easiest</li>
            <li><em>Best</em></li>
        </ul>
        <br>
    </section>
</div>

<div class="contentbox">
    <section>
        <h3>Debug:</h3>
        <br>
        <a href="/test">Style Test Page</a>
    </section>
</div>
{% endblock %}
