{% extends 'main/base.html' %}

{% block content %}
<div class="contentbox">
    <section>
        <h3>Test Page</h3>
        <p>
            This page is meant as a playground for styling and testing. 
            So if it looks weird, that's on purpose.
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Repellendus voluptates culpa doloremque aliquid quae illum incidunt neque, 
            explicabo error necessitatibus amet placeat, ea sed nobis. 
            Dignissimos, ipsam molestiae? Facere, repudiandae.</p>
    </section>
</div>
<div class="contentbox">
    <section>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, voluptatem commodi! 
            At repudiandae nisi maiores! Molestias harum consequatur quo! 
            Magni impedit commodi sunt saepe eligendi sapiente ratione maiores molestiae? 
            Odit, non debitis? Ea odio, ratione nostrum qui quibusdam 
            quidem temporibus quis dolorum pariatur numquam odit omnis totam aperiam quaerat 
            reprehenderit praesentium veritatis nemo porro iusto 
            rerum obcaecati delectus sunt consectetur nulla. 
            Nihil, voluptatibus ex in officiis est perferendis veritatis laudantium! 
            Odio possimus ullam maiores dolores reiciendis ratione? 
            Eligendi blanditiis non impedit quam libero corporis. 
            Qui, dignissimos temporibus molestiae voluptatum magni tempora vel 
            consequuntur provident natus eveniet deserunt tempore dolore eligendi!
        </p>
    </section>
</div>
<div class="contentbox">
    <section>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, voluptatem commodi! 
            At repudiandae nisi maiores! Molestias harum consequatur quo! 
            Magni impedit commodi sunt saepe eligendi sapiente ratione maiores molestiae? 
            Odit, non debitis? Ea odio, ratione nostrum qui quibusdam 
            quidem temporibus quis dolorum pariatur numquam odit omnis totam aperiam quaerat 
            reprehenderit praesentium veritatis nemo porro iusto 
            rerum obcaecati delectus sunt consectetur nulla. 
            Nihil, voluptatibus ex in officiis est perferendis veritatis laudantium! 
            Odio possimus ullam maiores dolores reiciendis ratione? 
            Eligendi blanditiis non impedit quam libero corporis. 
            Qui, dignissimos temporibus molestiae voluptatum magni tempora vel 
            consequuntur provident natus eveniet deserunt tempore dolore eligendi!
        </p>
    </section>
</div>
<div class="contentbox">
    <section>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, voluptatem commodi! 
            At repudiandae nisi maiores! Molestias harum consequatur quo! 
            Magni impedit commodi sunt saepe eligendi sapiente ratione maiores molestiae? 
            Odit, non debitis? Ea odio, ratione nostrum qui quibusdam 
            quidem temporibus quis dolorum pariatur numquam odit omnis totam aperiam quaerat 
            reprehenderit praesentium veritatis nemo porro iusto 
            rerum obcaecati delectus sunt consectetur nulla. 
            Nihil, voluptatibus ex in officiis est perferendis veritatis laudantium! 
            Odio possimus ullam maiores dolores reiciendis ratione? 
            Eligendi blanditiis non impedit quam libero corporis. 
            Qui, dignissimos temporibus molestiae voluptatum magni tempora vel 
            consequuntur provident natus eveniet deserunt tempore dolore eligendi!
        </p>
    </section>
</div>
<div class="contentbox">
    <section>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, voluptatem commodi! 
            At repudiandae nisi maiores! Molestias harum consequatur quo! 
            Magni impedit commodi sunt saepe eligendi sapiente ratione maiores molestiae? 
            Odit, non debitis? Ea odio, ratione nostrum qui quibusdam 
            quidem temporibus quis dolorum pariatur numquam odit omnis totam aperiam quaerat 
            reprehenderit praesentium veritatis nemo porro iusto 
            rerum obcaecati delectus sunt consectetur nulla. 
            Nihil, voluptatibus ex in officiis est perferendis veritatis laudantium! 
            Odio possimus ullam maiores dolores reiciendis ratione? 
            Eligendi blanditiis non impedit quam libero corporis. 
            Qui, dignissimos temporibus molestiae voluptatum magni tempora vel 
            consequuntur provident natus eveniet deserunt tempore dolore eligendi!
        </p>
    </section>
</div>
<div class="contentbox">
    <section>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, voluptatem commodi! 
            At repudiandae nisi maiores! Molestias harum consequatur quo! 
            Magni impedit commodi sunt saepe eligendi sapiente ratione maiores molestiae? 
            Odit, non debitis? Ea odio, ratione nostrum qui quibusdam 
            quidem temporibus quis dolorum pariatur numquam odit omnis totam aperiam quaerat 
            reprehenderit praesentium veritatis nemo porro iusto 
            rerum obcaecati delectus sunt consectetur nulla. 
            Nihil, voluptatibus ex in officiis est perferendis veritatis laudantium! 
            Odio possimus ullam maiores dolores reiciendis ratione? 
            Eligendi blanditiis non impedit quam libero corporis. 
            Qui, dignissimos temporibus molestiae voluptatum magni tempora vel 
            consequuntur provident natus eveniet deserunt tempore dolore eligendi!
        </p>
    </section>
</div>
<div class="contentbox">
    <section>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, voluptatem commodi! 
            At repudiandae nisi maiores! Molestias harum consequatur quo! 
            Magni impedit commodi sunt saepe eligendi sapiente ratione maiores molestiae? 
            Odit, non debitis? Ea odio, ratione nostrum qui quibusdam 
            quidem temporibus quis dolorum pariatur numquam odit omnis totam aperiam quaerat 
            reprehenderit praesentium veritatis nemo porro iusto 
            rerum obcaecati delectus sunt consectetur nulla. 
            Nihil, voluptatibus ex in officiis est perferendis veritatis laudantium! 
            Odio possimus ullam maiores dolores reiciendis ratione? 
            Eligendi blanditiis non impedit quam libero corporis. 
            Qui, dignissimos temporibus molestiae voluptatum magni tempora vel 
            consequuntur provident natus eveniet deserunt tempore dolore eligendi!
        </p>
    </section>
</div>
<div class="contentbox">
    <section>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, voluptatem commodi! 
            At repudiandae nisi maiores! Molestias harum consequatur quo! 
            Magni impedit commodi sunt saepe eligendi sapiente ratione maiores molestiae? 
            Odit, non debitis? Ea odio, ratione nostrum qui quibusdam 
            quidem temporibus quis dolorum pariatur numquam odit omnis totam aperiam quaerat 
            reprehenderit praesentium veritatis nemo porro iusto 
            rerum obcaecati delectus sunt consectetur nulla. 
            Nihil, voluptatibus ex in officiis est perferendis veritatis laudantium! 
            Odio possimus ullam maiores dolores reiciendis ratione? 
            Eligendi blanditiis non impedit quam libero corporis. 
            Qui, dignissimos temporibus molestiae voluptatum magni tempora vel 
            consequuntur provident natus eveniet deserunt tempore dolore eligendi!
        </p>
    </section>
</div>
<div class="contentbox">
    <section>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, voluptatem commodi! 
            At repudiandae nisi maiores! Molestias harum consequatur quo! 
            Magni impedit commodi sunt saepe eligendi sapiente ratione maiores molestiae? 
            Odit, non debitis? Ea odio, ratione nostrum qui quibusdam 
            quidem temporibus quis dolorum pariatur numquam odit omnis totam aperiam quaerat 
            reprehenderit praesentium veritatis nemo porro iusto 
            rerum obcaecati delectus sunt consectetur nulla. 
            Nihil, voluptatibus ex in officiis est perferendis veritatis laudantium! 
            Odio possimus ullam maiores dolores reiciendis ratione? 
            Eligendi blanditiis non impedit quam libero corporis. 
            Qui, dignissimos temporibus molestiae voluptatum magni tempora vel 
            consequuntur provident natus eveniet deserunt tempore dolore eligendi!
        </p>
    </section>
</div>
{% endblock %}
