<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Quasimoto</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Quasimoto Bell Services</h1>
        <nav>
            <a href="/">HOME</a>
            <a href="/login">LOGIN</a>
            <a href="/sign-up">SIGN UP</a>
            <a href="/about">ABOUT</a>
        </nav>
    </header>
    <br>
    <article>
        <h3>Developer: Samuel Worsley</h3>
        <p>
            Samuel Worsley started programming at 14, and enjoys making silly projects for fun.
            He created this project as a beginner-level project for Django, 
            but then started trying to do CSS too. 
            CSS styling is currently the leading cause of death among 16-year-old nerds.
        </p>
        <br>
        <h3>Why <em>Quasimoto?</em></h3>
        <p>
            Samuel's Mom had been reading the <em>Hunchback of Notre Dame</em> at the time of initial developement.
            Samuel thought this would be funny.<br>
            (Unfortunately, the ending is pretty sad. Sorry for the spoiler.)
        </p>
    </article>
    <br>
    <footer>
        <p>Contact us at <a href="https://orsleyway@gmail.com">orsleyway@gmail.com</a></p>
    </footer>
</body>
</html>
