<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quasimoto Bell Services</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="headerbox">
        <header>
            <h1>Quasimoto Bell Services</h1>
            <nav>
                <a href="/">HOME</a>
                <a href="/login">LOGIN</a>
                <a href="/sign-up">SIGN UP</a>
                <a href="/about">ABOUT</a>
            </nav>
        </header>
    </div>

    <br>
    
    <div class="contentbox">
        <section class="content">
            <h3>Your Schedule, Your Bells, <s>Our</s> Your System</h3>
            <ul>
                <li>Free & Open Scource</li>
                <li>Extremely Lightweight</li>
                <li>Easy-to-use Web Interface</li>
            </ul>
            <p>Take charge of the system. You create it, you manage it, and you control it.</p>
        </section>
    </div>

    <div class="contentbox">
        <section class="content">
            <h3>Our Goals:</h3>
            <ul>
                <li>Cheapest</li>
                <li>Easiest</li>
                <li><em>Best</em></li>
            </ul>
        </section>
    </div>

    <div class="contentbox">
        <section class="content">
            <h3>Debug:</h3>
            <a href="/test">Test Page</a>
        </section>
    </div>

    <br>
    
    <div class="footerbox">
        <footer>
            <p>Contact us at <a href="https://orsleyway@gmail.com">orsleyway@gmail.com</a></p>
        </footer>
    </div>
</body>
</html>
