<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Quasimoto</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Quasimoto Bell Services</h1>
        <nav>
            <a href="/">HOME</a>
            <a href="/login">LOGIN</a>
            <a href="/sign-up">SIGN UP</a>
            <a href="/about">ABOUT</a>
        </nav>
    </header>
    <br>
    <p><samp style="background-color: rgb(238, 238, 238); border-radius: 2px;">
        [NOTE]: Accounts are saved to your machine, we don't use them at all.
    </samp></p>
    <br>
    <footer>
        <p>Contact us at <a href="https://orsleyway@gmail.com">orsleyway@gmail.com</a></p>
    </footer>
</body>
</html>
