<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quasimoto Bell Services</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
</head>
<body>
    <header>
        <h1>Quasimoto Bell Services</h1>
        <nav>
            <a href="/">HOME</a>
            <a href="/login">LOGIN</a>
            <a href="/sign-up">SIGN UP</a>
            <a href="/about">ABOUT</a>
        </nav>
    </header>
    <main>
        <br>
        <!-- all content below this -->

        <div class="contentbox">
            <p>
                <samp>[NOTE]: Accounts are saved to your machine, we don't use them at all.</samp>
            </p>
        </div>
    
        <!-- all content above this -->
        <br>
    </main>
    <footer>
        <p>Contact us at <a href="mailto:orsleyway@gmail.com">orsleyway@gmail.com</a></p>
    </footer>
    <br><br>
</body>
</html>
